.posts-user{
    width: 100%;
    height: 625px;
    border: 1px solid black;
    .posts-user-1{
        margin: auto;
        width: 80%;
        height: 80%;
        // border: 1px solid black;
        .posts-user-2{
            width: 100%;
            height: 7%;
            // border: 1px solid black;
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            button{
                width: 16%;
                height: 100%;
                border-radius: 5px;
                border: none;
                margin-left: 10px;
            }
            .posts-user-2-button-1{
                background: rgb(204, 204, 204);
                color: black;
            }
            .posts-user-2-button-2{
                background: orange;
                color: #fff;
            }
        }
    }
}