.changepass{
    align-self: center;
    flex-direction: column;
    display : flex;
    height : 100vh;
    justify-content: center;
    background-image: url(../../../assets/images/login/background-dep-5.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.button-changepass {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}
.input-changepass{
    border-radius: 8px;
    width: 100%;
}