.confirm {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../../../assets/images/login/background-dep-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
