@import "~bootstrap/scss/bootstrap";

.listOfArticles {
    background-color: #a1a8a80d;
    height: 100%;

    // --------------- toolbar -----------------
    .toolbar {
        background-color: #a1a8a80d;
        padding-top: 1%;
        padding-left: 1%;

        .link {
            color: rgb(46, 45, 45);
            text-decoration: none;
        }

        .link:hover {
            color: rgb(116, 161, 138);
        }
    }

    // --------------- toolbar-end ------------------


    // --------------------- list-post -----------------------
    .list-post {
        display: flex;
        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;

        .table-cms {
            background-color: #FFFFFF;

            tbody {
                height: 1%;

                tr,
                td {
                    border-width: 1px 1px;

                    .buttonED {
                        display: grid;

                        .buttonEdit {
                            margin-top: 7%;

                            .editRed {
                                background: #6F42C1;
                                border: none;
                                width: 70px;
                            }
                        }

                        .buttonDelete {
                            border: none;
                            background: #C82333;
                            width: 91px;
                        }
                    }
                }
            }

            tbody:hover {
                background-color: #9ea0a00d;
            }

            .pagination {
                padding: 10%;
                margin-left: 488%;
            }

            ul.ant-pagination {

                li.ant-pagination-prev,
                li.ant-pagination-next {

                    .ant-pagination-item-link {

                        background: #F5F7FA;

                    }
                }

                li.ant-pagination-item-disabled {
                    background: #6F42C1;
                    color: white;

                    a {
                        display: contents;
                    }
                }
            }
        }
    }

    // --------------------- End list-post  -----------------------
}