$background: #fff;
$top-nav: #fff;
$text: rgb(0, 0, 0);
$box-shadow: rgba(49, 52, 53, 0.12);
$grey: rgb(128, 128, 128);
$white: #fff;
$black: rgb(0, 0, 0);
$blue: #0f668d;
$grey2: #c8c5c5;
$orange: rgb(255, 165, 0);
